/* Perustyylit */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #0a0708;
    text-align: center;
}

/* Navigaatio ja hampurilaisvalikko */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #444444;
    color: white;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

nav {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #747474;
    border-radius: 5px;
    display: none;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

nav.show {
    display: block;
}
.gray-box {
    background-color: #b1b1b1;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Pieni varjo laatikon ympärille */
}
/* Profiilikuva */
.profile-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.about-header {
    background-image: url('mehdi-messrro-yef79KkAguA-unsplash.jpg');
}

.skills-header {
    background-image: url('btc kuva.jpg');
}

.cv-header {
    background-image: url('Nimetön malli.jpg');
}

.contact-header {
    background-image: url('puhelin.jpg');
}
.about-header,
.skills-header,
.cv-header,
.contact-header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 80px 20px; /* Lisää tilaa tekstille */
    font-size: 36px;
    font-weight: bold;
}

/* Yleiset osiot */
.intro {
    margin: 20px;
    padding: 10px;
}

footer {
    background-color: #444444;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
footer p a {
    color: #ffcc00; /* Kirkas oranssi */
    text-decoration: underline;
}
.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-container {
        justify-content: center;
        flex-direction: column;
    }

    nav {
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
    }
}
 
